<h1>Words by Occurrences</h1>
<div class="row">
  <div class="col-md-8">
    <span class="pull-left pagination">
      <%= page_entries_info @words %>
    </span>
    <span class="pull-right">
      <%= paginate @words %>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <ul class="list-group">
      <% @words.each do |word| %>
        <li class="list-group-item">
          <span class="badge"><%= word.occurrences_count %></span>
          <%= link_to word.name, word_path(word) %>
          <%= link_to 'trends', trends_path(word_id: word.id) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <span class="pull-left pagination">
      <%= page_entries_info @words %>
    </span>
    <span class="pull-right">
      <%= paginate @words %>
    </span>
  </div>
</div>
