<div class="row">
  <div class="col-md-8">
    <span class="pull-left">
      <%= paginate @words %>
    </span>
    <span class="pull-right pagination">
      <%= page_entries_info @words %>
    </span>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <ul class="list-group">
      <% @words.each do |word| %>
        <li class="list-group-item">
          <span class="badge"><%= word.occurrences_count %></span>
          <%= word.name %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <span class="pull-left">
      <%= paginate @words %>
    </span>
    <span class="pull-right pagination">
      <%= page_entries_info @words %>
    </span>
  </div>
</div>
